@{
    ViewBag.Title = "Visitors list";
}

<div>
    @Html.ActionLink("> Посетители", "Slaves") @Html.ActionLink("> Добавить посетителя", "AddSlave")<br>
    @Html.ActionLink("> Тренеры", "Masters") @Html.ActionLink("> Добавить мастера", "AddMaster")
</div>